{* import "Federal.@.GenJin" as GENJIN *}

{* set build = GENJIN.build *}
{* set MACROMOD = GENJIN.MACROMOD *}
{* set ATTRIBUTE = GENJIN.ATTRIBUTE *}
{* set TYPE = GENJIN.TYPE *}
{* set CARDINALITY = GENJIN.CARDINALITY *}
{* set EVALUATION = GENJIN.EVALUATION *}
{* set STAGE = GENJIN.STAGE *}
