
{* import 'Federal.@.extension' as EXTENSION *}

{* set extension = EXTENSION.extension *}
{* set service = EXTENSION.service *}
{* set server = EXTENSION.server *}
{* set alias_separator = EXTENSION.alias_separator *}