
{* import 'Federal.@.Prototype' as PROTOTYPE *}

{*
	set parser = {
		'info': PROTOTYPE.parse_prototype_info,
		'input_or_output': PROTOTYPE.parse_input_or_output
	}
*}

{* set create = PROTOTYPE.create *}

{* set io = {'types': PROTOTYPE.TYPES} *}
{* set json_separator = PROTOTYPE.json_separator *}