{* import 'Federal.@.taxon-gui' as TAXON *}
{* from 'Federal.@.taxon-gui' import 
  op_mover, 
  op_teste, 
  op_movimentar, 
  op_movimentar_com_data, 
  op_verificar, 
  op_verificar_com_data, 
  op_buscar_pilha,
  op_contar_pilha, 
  op_listar, 
  op_contar, 
  op_contar_itens, 
  op_dropar, 
  op_craftar,
  op_descarregar_bau_duplo, 
  op_apanhar,
  op_hotswap *}

{* set itera = TAXON.itera_gui *}
{* set itera_tooltip = TAXON.itera_gui_intel *}

{* set abre = TAXON.abre_gui *}

{* set op_mover = op_mover *}
{* set op_teste = op_teste *}
{* set op_movimentar = op_movimentar *}
{* set op_movimentar_com_data = op_movimentar_com_data *}
{* set op_verificar = op_verificar *}
{* set op_verificar_com_data = op_verificar_com_data *}
{* set op_buscar_pilha = op_buscar_pilha *}
{* set op_contar_pilha = op_contar_pilha *}
{* set op_listar = op_listar *}
{* set op_contar = op_contar *}
{* set op_contar_itens = op_contar_itens *}
{* set op_dropar = op_dropar *}
{* set op_craftar = op_craftar *}
{* set op_descarregar_bau_duplo = op_descarregar_bau_duplo *}
{* set op_apanhar = op_apanhar *}
{* set op_descarregar = TAXON.op_descarregar *}
{* set op_hotswap = TAXON.op_hotswap *}