{* import 'jeffhinoto.@.taxon-mkb' as TAXON *}


{* set itera = TAXON.itera_mkb *}
{* set walk = TAXON.jeffwalk *}
{* set olha_baú = TAXON.olha_baú *}

{* set hook_acessar_baú = TAXON.hook_acessar_baú *}
{* set hook_fechar_inventário = TAXON.hook_fechar_inventário *}

{* set op_pegar = TAXON.op_pegar *}
{* set op_deixar = TAXON.op_deixar *}
{* set op_descarregar = TAXON.op_descarregar *}
{* set op_descarregar_mochila = TAXON.op_descarregar_mochila *}
{* set op_testar = TAXON.op_testar *}