{* import 'Federal.@.FEDERAL_UI' as FEDERAL_UI *}

{* set DEFAULT_SETTINGS = FEDERAL_UI.DEFAULT_SETTINGS *}
{* set build = FEDERAL_UI.build_menu *}
{* set DATA = {'destroy': FEDERAL_UI.destroy_menu_data, 'load': FEDERAL_UI.load_menu_data, 'manager': FEDERAL_UI.DB_MANAGER } *}
{* set TYPE = FEDERAL_UI.TYPE *}
{* set SETTINGS = {'wrap': FEDERAL_UI.get_config_copy}  *}
