
{* import 'Macrosoft.CLOUDSCRIPT.event' as EVENT *}

$${
	
	{* macro Main() *}
		{* block Main *}
		{* endblock *}
	{* endmacro *}
	{* macro onChat() *}
		{* block onChat *}
		{* endblock *}
	{* endmacro *}
	{* macro onWhitelist() *}
		{* block onWhitelist *}
		{* endblock *}
	{* endmacro *}
	{* macro onArmourChange() *}
		{* block onArmourChange *}
		{* endblock *}
	{* endmacro *}
	{* macro onArmourDurabilityChange() *}
		{* block onArmourDurabilityChange *}
		{* endblock *}
	{* endmacro *}
	{* macro onAutoCraftingComplete() *}
		{* block onAutoCraftingComplete *}
		{* endblock *}
	{* endmacro *}
	{* macro onConfigChange() *}
		{* block onConfigChange *}
		{* endblock *}
	{* endmacro *}
	{* macro onDeath() *}
		{* block onDeath *}
		{* endblock *}
	{* endmacro *}
	{* macro onFoodChange() *}
		{* block onFoodChange *}
		{* endblock *}
	{* endmacro *}
	{* macro onHealthChange() *}
		{* block onHealthChange *}
		{* endblock *}
	{* endmacro *}
	{* macro onInventorySlotChange() *}
		{* block onInventorySlotChange *}
		{* endblock *}
	{* endmacro *}
	{* macro onItemDurabilityChange() *}
		{* block onItemDurabilityChange *}
		{* endblock *}
	{* endmacro *}
	{* macro onJoinGame() *}
		{* block onJoinGame *}
		{* endblock *}
	{* endmacro *}
	{* macro onLevelChange() *}
		{* block onLevelChange *}
		{* endblock *}
	{* endmacro *}
	{* macro onModeChange() *}
		{* block onModeChange *}
		{* endblock *}
	{* endmacro *}
	{* macro onOxygenChange() *}
		{* block onOxygenChange *}
		{* endblock *}
	{* endmacro *}
	{* macro onPickupItem() *}
		{* block onPickupItem *}
		{* endblock *}
	{* endmacro *}
	{* macro onPlayerJoined() *}
		{* block onPlayerJoined *}
		{* endblock *}
	{* endmacro *}
	{* macro onPotionEffect() *}
		{* block onPotionEffect *}
		{* endblock *}
	{* endmacro *}
	{* macro onRespawn() *}
		{* block onRespawn *}
		{* endblock *}
	{* endmacro *}
	{* macro onSendChatMessage() *}
		{* block onSendChatMessage *}
		{* endblock *}
	{* endmacro *}
	{* macro onShowGui() *}
		{* block onShowGui *}
		{* endblock *}
	{* endmacro *}
	{* macro onWeatherChange() *}
		{* block onWeatherChange *}
		{* endblock *}
	{* endmacro *}
	{* macro onWebSocketMessage() *}
		{* block onWebSocketMessage *}
		{* endblock *}
	{* endmacro *}
	{* macro onWorldChange() *}
		{* block onWorldChange *}
		{* endblock *}
	{* endmacro *}
	{* macro onXPChange() *}
		{* block onXPChange *}
		{* endblock *}
	{* endmacro *}
	
	{{ this.type | macro }}
	
}$$





