{* extends 'Federal.sketch.setup-code' *}
{* import 'Federal.sketch.genjin' as GENJIN *}
{* from "Federal.sketch.genjin" import MACROMOD, ATTRIBUTE, CARDINALITY, TYPE, EVALUATION, STAGE *}
{* import 'Macrosoft.common.control' as CONTROL *}
{* from "Federal.@.Lenhador" import RESULTADO *}
{* import 'Federal.text.chat' as CHAT *}
{* import 'Macrosoft.TASK.extension' as EXTENSION *}
{* import 'Macrosoft.TAXON.UI' as UI *}
{* import 'Federal.@.TemasUI' as TEMASUI *}
{* import 'Federal.@.FEDERAL_UI' as FEDERAL_UI *}
{* import "Federal.@.server_tools_cl_77_78" as SERVER_TOOLS *}

{* block code *}
	{!! GENJIN.build(prog=programa, language_renderer=MACROMOD, logger=SIMPLE_CODE_LOGGER) !!}
	{{ GENJIN.build(prog=programa, language_renderer=MACROMOD) }}
	LOG("SAÍ DO PROGRAMA. ISSO NÃO DEVERIA ACONTECER. CONTATE DO DEV.");
{* endblock *}

{* block setup *}
	{* set extensões_servidor_cl = [{'name': 'tools','id': 'server_tools_cl_77_78', 'success_outvar': 'ok'}] *}
	{{ CONTROL.switch(extensions=extensões_servidor_cl) }}
	{* macro cancelar(value, accept, reject) *}
		{{ CONTROL.turn_off(extensions=extensões_servidor_cl) }}
		{{ accept() }}
	{* endmacro *}
	
	IF(ok);
		{{ EXTENSION.service.event(name='tools', event='main', async=True) }}
		{*
			set mymenu = {
				'type': UI.TYPE.MENU,
				'name': 'principal',
				'label': 'Escolha',
				'short': 'Bem vindo ao Lenhador Inteligente do Federal',
				'breadcrumb': 'Início',
				'options': [
					{'type': UI.TYPE.BUTTON.SUBMIT},
					{'type': UI.TYPE.BUTTON.CANCEL},
					{'type': UI.TYPE.LINE.BLANK},
					
					{'type': UI.TYPE.LINE.DUMMY, 'text': '§8==§7§odefina essas homes§8=='},
					{'type': UI.TYPE.INPUT.VALUE, 'text': 'Baús guardar', 'name': 'mkb', 'label': 'digite a home', 'default':'mkb'},
					{'type': UI.TYPE.INPUT.VALUE, 'text': 'Machados gastos', 'name': 'red_axe', 'label': 'digite a home', 'default':'mkb_largar'},
					{'type': UI.TYPE.INPUT.VALUE, 'text': 'Machados novos', 'name': 'green_axe', 'label': 'digite a home', 'default':'mkb_pegar'},
					{'type': UI.TYPE.LINE.BLANK},
					{'type': UI.TYPE.LINE.DUMMY, 'text': '§8==§7§ovou definir essas§8=='},
					{'type': UI.TYPE.INPUT.VALUE, 'text': 'Temporária MKB', 'name': 'mkb_temp', 'label': 'digite a home', 'default':'mkb_temp'},
					{'type': UI.TYPE.INPUT.VALUE, 'text': 'Checkpoint', 'name': 'checkpoint', 'label': 'digite a home', 'default':'l'},
					{'type': UI.TYPE.LINE.BLANK},
					{'type': UI.TYPE.BUTTON.GENERIC, 'text': 'Testar trocar ferramenta', 'name': 'test0', 'action': testar_trocar_ferramenta},
					{'type': UI.TYPE.LINE.BLANK},
					{'type': UI.TYPE.BUTTON.RESET},
				],
				'outvars': {
					'mkb': '&home_guardar',
					'mkb_temp': '&home_guardar_temp',
					'red_axe': '&home_machados_red',
					'green_axe': '&home_machados_novos',
					'checkpoint': '&home_checkpoint',
				}
			}
		*}
		
		{* set preferências =  {} *}
		{* set _ = TEMASUI.TEMA_FEDERAL.update({
			'CANCEL_TEXT': 'Sair (ESC)!'
		}) *}
		{{ UI.SETTINGS.wrap(preferências, TEMASUI.TEMA_FEDERAL) }}
		
		{{ UI.build(menu_option=mymenu, settings=preferências, on_cancel=cancelar) }}
		{{ UI.DATA.load(mymenu) }}
	ELSE;
		{{ CONTROL.turn_off() }}
	ENDIF;
	
{* endblock *}

{* macro SIMPLE_CODE_LOGGER(CORE, blockcrumb, block, variable, from_code, stage) *}
	{* set outvar_variable_dict = {} *}
	{{ CORE.language.render_variable_name(CORE=CORE, variable=variable, jinja_out_var=outvar_variable_dict) }}
	{* if stage == STAGE.BEFORE_PROCEDURE *}
		{{ CHAT.print('%'~outvar_variable_dict[ATTRIBUTE.NAME]~'%', type='warning', label='[B] '~block[ATTRIBUTE.NAME]) }}
	{* elif stage == STAGE.AFTER_PROCEDURE *}
		{{ CHAT.print('%'~outvar_variable_dict[ATTRIBUTE.NAME]~'%', type='success', label='[A] '~block[ATTRIBUTE.NAME]) }}
	{* endif *}
{* endmacro *}

{* macro reiniciar_ciclo(outvar) *}
	LOG("Mandei reiniciar o ciclo");
	SET({{ outvar }},{{ RESULTADO.REINICIAR_CICLO }});
{* endmacro *}

{* macro reseta_variaveis(outvar, var_posicao_lista) *}
	SET({{ var_posicao_lista }},0);//Reseta a variável que armazena a posição da lista de árvores encontradas
	SET({{ outvar }},{{ RESULTADO.SUCESSO }});
{* endmacro *}

{*
	set BLOCOS_COMUNS = {
		'notificar_exceção': {
			ATTRIBUTE.NAME: 'Exceção para o usuário tratar. ',
			ATTRIBUTE.PROCEDURE: {
				ATTRIBUTE.NAME: 'Notificar_Exceção',
				ATTRIBUTE.KEYWORD_ARGS: {
					'mensagem': {
						ATTRIBUTE.VALUE: '<placeholder>',
						ATTRIBUTE.EVALUATION: EVALUATION.LITERAL
					}
				}
			},
			ATTRIBUTE.PASS_CODES: ['REINICIAR_CICLO']
		}
	}
*}



{*
	set BLOCOS_TRATAMENTO = {
		'guardar_madeiras': {
			ATTRIBUTE.NAME: 'GUARDAR_MADEIRAS:DEFINIR_HOME',
			ATTRIBUTE.DESCRIPTION: 'As madeiras precisam ser armazenadas. ',
			ATTRIBUTE.PROCEDURE: {
				ATTRIBUTE.NAME: 'Definir_Home',
				ATTRIBUTE.DESCRIPTION: 'Salva a home para voltarmos depois para cá. ',
				ATTRIBUTE.KEYWORD_ARGS: {
					'home': {
						ATTRIBUTE.VALUE: 'home_checkpoint',
						ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
					}
				}
			},
			ATTRIBUTE.LOOP_WHILE: [ 'DEMORA', 'CANCELADO' ],
			ATTRIBUTE.PASS_CODES: [  ],
			ATTRIBUTE.CASES: [
				{
					ATTRIBUTE.OUTPUT_CODE: 'SUCESSO',
					ATTRIBUTE.BLOCK: {
						ATTRIBUTE.NAME: 'GUARDAR_MADEIRAS:TP_BAUS',
						ATTRIBUTE.PROCEDURE: {
							ATTRIBUTE.NAME: 'Teleportar',
							ATTRIBUTE.DESCRIPTION: 'Vai até a home dos baús para guardar as madeiras. ',
							ATTRIBUTE.KEYWORD_ARGS: {
								'home': {
									ATTRIBUTE.VALUE: 'home_mkb',
									ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
								}
							}
						},
						ATTRIBUTE.LOOP_WHILE: [ 'DEMORA' ],
						ATTRIBUTE.PASS_CODES: [ 'NÃO_EXISTE', 'CANCELADO' ],
						ATTRIBUTE.CASES: [
							{
								ATTRIBUTE.OUTPUT_CODE: 'SUCESSO',
								ATTRIBUTE.BLOCK: {
									ATTRIBUTE.NAME: 'FERRAMENTA_GASTA:MKB_GUARDAR_ITENS_RED',
									ATTRIBUTE.PROCEDURE: {
										ATTRIBUTE.NAME: 'Guardar_Itens_MKB',
										ATTRIBUTE.DESCRIPTION: 'Guarda as madeiras na MKB. ',
										ATTRIBUTE.KEYWORD_ARGS: {
											'gaveta': {
												ATTRIBUTE.VALUE: 'gaveta_mkb',
												ATTRIBUTE.EVALUATION: EVALUATION.LITERAL
											},
											'itens': {
												ATTRIBUTE.VALUE: ['log'],
												ATTRIBUTE.EVALUATION: EVALUATION.LITERAL
											},
											'home_temp': {
											  ATTRIBUTE.VALUE: 'home_mkb_temporaria',
												ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
											},
											'quantidade_movidos_var': {
												ATTRIBUTE.VALUE: 'quantidade_movidos',
												ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
											}
										}
									},
									ATTRIBUTE.LOOP_WHILE: ['DEMORA'],
									ATTRIBUTE.PASS_CODES: [],
									ATTRIBUTE.CASES: [
										
										
										
									]
								}
							}
						]
					}
				}
			]
		},
		'ferramenta_gasta': {
			ATTRIBUTE.NAME: 'FERRAMENTA_GASTA:DEFINIR_HOME',
			ATTRIBUTE.DESCRIPTION: 'A ferramenta está gasta. Indica que algo deve ser feito. ',
			ATTRIBUTE.PROCEDURE: {
				ATTRIBUTE.NAME: 'Definir_Home',
				ATTRIBUTE.DESCRIPTION: 'Salva a home para voltarmos depois para cá. ',
				ATTRIBUTE.KEYWORD_ARGS: {
					'home': {
						ATTRIBUTE.VALUE: 'home_checkpoint',
						ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
					}
				}
			},
			ATTRIBUTE.LOOP_WHILE: [ 'DEMORA', 'CANCELADO' ],
			ATTRIBUTE.PASS_CODES: [ 'SUCESSO', 'NÃO_EXISTE', 'REINICIAR_CICLO', 'LIMITE_ALCANCADO', 'PROIBIDO' ],
			ATTRIBUTE.CASES: [
				{
					ATTRIBUTE.OUTPUT_CODE: 'SUCESSO',
					ATTRIBUTE.BLOCK: {
						ATTRIBUTE.NAME: 'FERRAMENTA_GASTA:TP_BAUS_ITENS_RED',
						ATTRIBUTE.PROCEDURE: {
							ATTRIBUTE.NAME: 'Teleportar',
							ATTRIBUTE.DESCRIPTION: 'Vai até a home para guardar a ferramenta. ',
							ATTRIBUTE.KEYWORD_ARGS: {
								'home': {
									ATTRIBUTE.VALUE: 'home_mkb_machados_gastos',
									ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
								}
							}
						},
						ATTRIBUTE.LOOP_WHILE: [ 'DEMORA' ],
						ATTRIBUTE.PASS_CODES: [ 'NÃO_EXISTE', 'CANCELADO' ],
						ATTRIBUTE.CASES: [
							{
								ATTRIBUTE.OUTPUT_CODE: 'SUCESSO',
								ATTRIBUTE.BLOCK: {
									ATTRIBUTE.NAME: 'FERRAMENTA_GASTA:MKB_GUARDAR_ITENS_RED',
									ATTRIBUTE.PROCEDURE: {
										ATTRIBUTE.NAME: 'Guardar_Itens_MKB',
										ATTRIBUTE.DESCRIPTION: 'Guarda os itens na MKB. ',
										ATTRIBUTE.KEYWORD_ARGS: {
											'gaveta': {
												ATTRIBUTE.VALUE: 'gaveta_mkb_guardar',
												ATTRIBUTE.EVALUATION: EVALUATION.LITERAL
											},
											'itens': {
												ATTRIBUTE.VALUE: ['diamond_axe'],
												ATTRIBUTE.EVALUATION: EVALUATION.LITERAL
											},
											'quantidade': {
												ATTRIBUTE.VALUE: 1,
												ATTRIBUTE.EVALUATION: EVALUATION.LITERAL
											},
											'quantidade_movidos_var': {
												ATTRIBUTE.VALUE: 'quantidade_movidos',
												ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
											}
										}
									},
									ATTRIBUTE.LOOP_WHILE: ['DEMORA'],
									ATTRIBUTE.PASS_CODES: [],
									ATTRIBUTE.CASES: [
										{
											ATTRIBUTE.OUTPUT_CODE: 'SUCESSO',
											ATTRIBUTE.BLOCK: {
												ATTRIBUTE.NAME: 'FERRAMENTA_GASTA:TP_BAUS_ITENS_GREEN',
												ATTRIBUTE.PROCEDURE: {
													ATTRIBUTE.NAME: 'Teleportar',
													ATTRIBUTE.DESCRIPTION: 'Vai até a home para pegar uma ferramenta boa. ',
													ATTRIBUTE.KEYWORD_ARGS: {
														'home': {
															ATTRIBUTE.VALUE: 'home_mkb_machados_novos',
															ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
														}
													}
												},
												ATTRIBUTE.LOOP_WHILE: ['DEMORA'],
												ATTRIBUTE.PASS_CODES: ['NÃO_EXISTE', 'CANCELADO'],
												ATTRIBUTE.CASES: [
													{
														ATTRIBUTE.OUTPUT_CODE: 'SUCESSO',
														ATTRIBUTE.BLOCK: {
															ATTRIBUTE.NAME: 'FERRAMENTA_GASTA:MKB_PEGAR_ITENS_GREEN',
															ATTRIBUTE.PROCEDURE: {
																ATTRIBUTE.NAME: 'Pegar_Itens_MKB',
																ATTRIBUTE.DESCRIPTION: 'Pega machado novo na mkb. ',
																ATTRIBUTE.KEYWORD_ARGS: {
																	'gaveta': {
																		ATTRIBUTE.VALUE: 'gaveta_mkb_pegar',
																		ATTRIBUTE.EVALUATION: EVALUATION.LITERAL
																	},
																	'itens': {
																		ATTRIBUTE.VALUE: ['diamond_axe'],
																		ATTRIBUTE.EVALUATION: EVALUATION.LITERAL
																	},
																	'quantidade': {
																		ATTRIBUTE.VALUE: 1,
																		ATTRIBUTE.EVALUATION: EVALUATION.LITERAL
																	},
																	'quantidade_movidos_var': {
																		ATTRIBUTE.VALUE: 'quantidade_movidos',
																		ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
																	}
																}
															},
															ATTRIBUTE.LOOP_WHILE: ['DEMORA'],
															ATTRIBUTE.PASS_CODES: [],
															ATTRIBUTE.CASES: [
																{
																	ATTRIBUTE.OUTPUT_CODE: 'SUCESSO',
																	ATTRIBUTE.BLOCK: {
																		ATTRIBUTE.NAME: 'FERRAMENTA_GASTA:VOLTAR_CHECKPOINT',
																		ATTRIBUTE.PROCEDURE: {
																			ATTRIBUTE.NAME: 'Teleportar',
																			ATTRIBUTE.DESCRIPTION: 'Volta para a home de onde saímos. ',
																			ATTRIBUTE.KEYWORD_ARGS: {
																				'home': {
																					ATTRIBUTE.VALUE: 'home_checkpoint',
																					ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
																				}
																			}
																		},
																		ATTRIBUTE.LOOP_WHILE: ['DEMORA'],
																		ATTRIBUTE.PASS_CODES: ['SUCESSO', 'NÃO_EXISTE', 'CANCELADO'],
																		
																	}
																}
															]
														}
													}
												]
											}
										}
									]
								}
							}
						]
					}
				}
			]
		}
	}
*}

{* macro testar_trocar_ferramenta(option, menu) *}
	{{ UI.DATA.load(menu) }}
	{*
		set test_prog = {
			ATTRIBUTE.NAME: programa[ATTRIBUTE.NAME],
			ATTRIBUTE.DESCRIPTION: 'Testa tudo!',
			ATTRIBUTE.VARIABLES: programa[ATTRIBUTE.VARIABLES],
			ATTRIBUTE.PROCEDURES: programa[ATTRIBUTE.PROCEDURES],
			ATTRIBUTE.BLOCK: BLOCOS_TRATAMENTO.ferramenta_gasta | place(ATTRIBUTE.VARIABLE, 'resultado')
		}
	*}
	{* macro yay(CORE) *}
		{* set variaveis_genjin = [] *}
		{{ CORE.variable.find.by_name('resultado', variaveis_genjin) }}
		{* set variavel_macro = {} *}
		{{ CORE.language.render_variable_name(CORE=CORE, variable=variaveis_genjin|first, jinja_out_var=variavel_macro) }}
		{{ CHAT.print('%'~variavel_macro[ATTRIBUTE.NAME]~'%', type='default', label='CÓDIGO DE SAÍDA DO TESTE') }}
	{* endmacro *}
	{{ GENJIN.build(prog=test_prog, language_renderer=MACROMOD, post_execution=yay) }}
{* endmacro *}

{*
	set programa = {
		ATTRIBUTE.NAME: 'lenhador-inteligente-do-federal',
		ATTRIBUTE.DESCRIPTION: 'Um programa que pega madeira na floresta do Minecraft',
		ATTRIBUTE.VARIABLES: [
			{
				ATTRIBUTE.NAME: 'home_mkb',
				ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
				ATTRIBUTE.TYPE: TYPE.TEXT,
				ATTRIBUTE.DESCRIPTION: 'O nome da home para levar o player à trap de baús de guardar. ',
				ATTRIBUTE.VALUE: '%&home_guardar%'
			},
			{
				ATTRIBUTE.NAME: 'home_mkb_temporaria',
				ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
				ATTRIBUTE.TYPE: TYPE.TEXT,
				ATTRIBUTE.DESCRIPTION: 'O nome da home para salvar a última posição do player na mkb de guardar. ',
				ATTRIBUTE.VALUE: '%&home_guardar_temp%'
			},
			{
				ATTRIBUTE.NAME: 'home_mkb_machados_gastos',
				ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
				ATTRIBUTE.TYPE: TYPE.TEXT,
				ATTRIBUTE.DESCRIPTION: 'A home para uma mkb de guardar machados gastos. ',
				ATTRIBUTE.VALUE: '%&home_machados_red%'
			},
			{
				ATTRIBUTE.NAME: 'home_mkb_machados_novos',
				ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
				ATTRIBUTE.TYPE: TYPE.TEXT,
				ATTRIBUTE.DESCRIPTION: 'A home para uma mkb de pegar machados novos',
				ATTRIBUTE.VALUE: '%&home_machados_novos%'
			},
			{
				ATTRIBUTE.NAME: 'home_checkpoint',
				ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
				ATTRIBUTE.TYPE: TYPE.TEXT,
				ATTRIBUTE.DESCRIPTION: 'Uma home que o player vai marcar para voltar depois. ',
				ATTRIBUTE.VALUE: '%&home_checkpoint%'
			},
			
			
			{
				ATTRIBUTE.NAME: 'quantidade_movidos',
				ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
				ATTRIBUTE.TYPE: TYPE.NUMBER,
				ATTRIBUTE.DESCRIPTION: 'Guarda a quantidade de itens movidos em uma mkb. ',
			},
			{
				ATTRIBUTE.NAME: 'resultado',
				ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
				ATTRIBUTE.TYPE: TYPE.NUMBER,
				ATTRIBUTE.DESCRIPTION: 'A variável de status global do programa. ',
			},
			{
				ATTRIBUTE.NAME: 'lista_coordenadas_arvores',
				ATTRIBUTE.CARDINALITY: CARDINALITY.PLURAL,
				ATTRIBUTE.TYPE: TYPE.TEXT,
				ATTRIBUTE.DESCRIPTION: 'O array de coordenadas das árvores encontradas. ',
			},
			{
				ATTRIBUTE.NAME: 'tronco_x',
				ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
				ATTRIBUTE.TYPE: TYPE.NUMBER,
				ATTRIBUTE.DESCRIPTION: 'A coordenada X da árvore em foco. ',
			},
			{
				ATTRIBUTE.NAME: 'tronco_y',
				ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
				ATTRIBUTE.TYPE: TYPE.NUMBER,
				ATTRIBUTE.DESCRIPTION: 'A coordenada Y da árvore em foco. ',
			},
			{
				ATTRIBUTE.NAME: 'tronco_z',
				ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
				ATTRIBUTE.TYPE: TYPE.NUMBER,
				ATTRIBUTE.DESCRIPTION: 'A coordenada Z da árvore em foco. ',
			},
			{
				ATTRIBUTE.NAME: 'cursor_array_arvores',
				ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
				ATTRIBUTE.TYPE: TYPE.NUMBER,
				ATTRIBUTE.DESCRIPTION: 'A posição alvo no array de coordenadas. ',
			},
			{
				ATTRIBUTE.NAME: 'coordenadas_rota',
				ATTRIBUTE.CARDINALITY: CARDINALITY.PLURAL,
				ATTRIBUTE.TYPE: TYPE.TEXT,
				ATTRIBUTE.DESCRIPTION: 'A lista de coordenadas de uma rota traçada até a árvore. ',
			}
		],
		ATTRIBUTE.PROCEDURES: [
			SERVER_TOOLS.PROCEDURE.Teleportar,
			SERVER_TOOLS.PROCEDURE.Definir_Home,
			SERVER_TOOLS.PROCEDURE.Ping,
			SERVER_TOOLS.PROCEDURE.Pegar_Itens_MKB,
			SERVER_TOOLS.PROCEDURE.Guardar_Itens_MKB,
			SERVER_TOOLS.PROCEDURE.Resetar_MKB,
			SERVER_TOOLS.PROCEDURE.Pode_Usar_Home_Temp,
			{
				
				ATTRIBUTE.NAME:  'Reseta_Variáveis',
				ATTRIBUTE.MACRO: reseta_variaveis,
				ATTRIBUTE.DESCRIPTION:  'Reseta variáveis importantes para o ciclo. ',
				ATTRIBUTE.PARAMETERS: [
					{
						ATTRIBUTE.NAME: 'var_posicao_lista',
						ATTRIBUTE.TYPE: TYPE.NUMBER,
						ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
						ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE,
						ATTRIBUTE.DESCRIPTION: 'Variável que armazena a posição da lista de árvores encontradas. '
					}
				],
				ATTRIBUTE.OUTPUT_CODES: [
					{
						ATTRIBUTE.NAME: 'SUCESSO',
						ATTRIBUTE.CODE: RESULTADO.SUCESSO,
						ATTRIBUTE.DESCRIPTION: 'OK. Variáveis resetadas. '
					}
				]
			},
			{
				
				ATTRIBUTE.NAME:  'Reiniciar_Ciclo',
				ATTRIBUTE.MACRO: reiniciar_ciclo,
				ATTRIBUTE.DESCRIPTION:  'Retorna um código de saída para recomeçar o ciclo. ',
				ATTRIBUTE.PARAMETERS: [],
				ATTRIBUTE.OUTPUT_CODES: [
					{
						ATTRIBUTE.NAME: 'REINICIAR_CICLO',
						ATTRIBUTE.CODE: RESULTADO.REINICIAR_CICLO,
						ATTRIBUTE.DESCRIPTION: 'OK. Reinicie o ciclo. '
					}
				]
			},
			{
				
				ATTRIBUTE.NAME:  'Notificar_Exceção',
				ATTRIBUTE.MACRO: ('Federal.@.Lenhador', 'notificar_exceção'),
				ATTRIBUTE.DESCRIPTION:  'Pausa a execução, notifica o usuário e aguarda . ',
				ATTRIBUTE.PARAMETERS: [
					{
						ATTRIBUTE.NAME: 'mensagem',
						ATTRIBUTE.TYPE: TYPE.TEXT,
						ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
						ATTRIBUTE.EVALUATION: EVALUATION.LITERAL,
						ATTRIBUTE.DESCRIPTION: 'A mensagem que será exibida para o usuário. '
					}
				],
				ATTRIBUTE.OUTPUT_CODES: [
					{
						ATTRIBUTE.NAME: 'REINICIAR_CICLO',
						ATTRIBUTE.CODE: RESULTADO.REINICIAR_CICLO,
						ATTRIBUTE.DESCRIPTION: 'OK. Reinicie o ciclo. '
					}
				]
			},
			{
				
				ATTRIBUTE.NAME:  'Procura_Árvores',
				ATTRIBUTE.MACRO: ('Federal.@.Lenhador', 'procura_árvores'),
				ATTRIBUTE.DESCRIPTION:  'Obtém uma lista de coordenadas e atribui à variável outvar_array_arvores. ',
				ATTRIBUTE.PARAMETERS: [
					{
						ATTRIBUTE.NAME: 'outvar_array_arvores',
						ATTRIBUTE.TYPE: TYPE.TEXT,
						ATTRIBUTE.CARDINALITY: CARDINALITY.PLURAL,
						ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE,
						ATTRIBUTE.DESCRIPTION: 'O array que armazena as coordenadas das árvores. '
					}
				],
				ATTRIBUTE.OUTPUT_CODES: [
					{
						ATTRIBUTE.NAME: 'SUCESSO',
						ATTRIBUTE.CODE: RESULTADO.SUCESSO,
						ATTRIBUTE.DESCRIPTION: 'Uma lista de árvores foi obtida. '
					},
					{
						ATTRIBUTE.NAME: 'SEM_ÁRVORES_AO_REDOR',
						ATTRIBUTE.CODE: RESULTADO.SEM_ÁRVORES_AO_REDOR,
						ATTRIBUTE.DESCRIPTION: 'Não foi possível obter uma lista de árvores ao redor. '
					},
				]
			},
			{
				
				ATTRIBUTE.NAME:  'Seleciona_Árvore',
				ATTRIBUTE.MACRO: ('Federal.@.Lenhador', 'seleciona_árvore'),
				ATTRIBUTE.DESCRIPTION:  'Seleciona a árvore seguinte do array de árvores de invar_array_arvores. ',
				ATTRIBUTE.PARAMETERS: [
					{
						ATTRIBUTE.NAME: 'invar_array_arvores',
						ATTRIBUTE.TYPE: TYPE.TEXT,
						ATTRIBUTE.CARDINALITY: CARDINALITY.PLURAL,
						ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE,
						ATTRIBUTE.DESCRIPTION: 'O array que armazena as coordenadas das árvores. '
					},
					{
						ATTRIBUTE.NAME: 'outvar_x',
						ATTRIBUTE.TYPE: TYPE.NUMBER,
						ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
						ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE,
						ATTRIBUTE.DESCRIPTION: 'A variável que vai receber a coordenada X da árvore selecionada. '
					},
					{
						ATTRIBUTE.NAME: 'outvar_y',
						ATTRIBUTE.TYPE: TYPE.NUMBER,
						ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
						ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE,
						ATTRIBUTE.DESCRIPTION: 'A variável que vai receber a coordenada Y da árvore selecionada. '
					},
					{
						ATTRIBUTE.NAME: 'outvar_z',
						ATTRIBUTE.TYPE: TYPE.NUMBER,
						ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
						ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE,
						ATTRIBUTE.DESCRIPTION: 'A variável que vai receber a coordenada Z da árvore selecionada. '
					},
					{
						ATTRIBUTE.NAME: 'outvar_posicao_lista',
						ATTRIBUTE.TYPE: TYPE.NUMBER,
						ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
						ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE,
						ATTRIBUTE.DESCRIPTION: (
							'A variável contendo a posição do array a ser lida. '
							'Após a árvore ser selecionada, o procedimento incrementa essa variável. '
						)
					}
				],
				ATTRIBUTE.OUTPUT_CODES: [
					{
						ATTRIBUTE.NAME: 'SUCESSO',
						ATTRIBUTE.CODE: RESULTADO.SUCESSO,
						ATTRIBUTE.DESCRIPTION: 'Uma árvore foi selecinada. Vá até ela. '
					},
					{
						ATTRIBUTE.NAME: 'SEM_MAIS_ÁRVORES_PARA_PROCESSAR',
						ATTRIBUTE.CODE: RESULTADO.SEM_MAIS_ÁRVORES_PARA_PROCESSAR,
						ATTRIBUTE.DESCRIPTION: 'Todas as coordenadas foram processadas. '
					},
				]
			},
			{
				
				ATTRIBUTE.NAME:  'Percorre_Caminho_Até_Árvore',
				ATTRIBUTE.MACRO: ('Federal.@.Lenhador', 'percorre_caminho2'),
				ATTRIBUTE.DESCRIPTION:  'Anda o caminho todo lidando com obstruções até alcançar o destino. ',
				ATTRIBUTE.PARAMETERS: [
					{
						ATTRIBUTE.NAME: 'invar_array_caminho',
						ATTRIBUTE.TYPE: TYPE.TEXT,
						ATTRIBUTE.CARDINALITY: CARDINALITY.PLURAL,
						ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE,
						ATTRIBUTE.DESCRIPTION: 'O array das coordenadas a serem seguidas. '
					}
				],
				ATTRIBUTE.OUTPUT_CODES: [
					{
						ATTRIBUTE.NAME: 'SUCESSO',
						ATTRIBUTE.CODE: RESULTADO.SUCESSO,
						ATTRIBUTE.DESCRIPTION: 'Percorremos o caminho com sucesso. '
					},
					{
						ATTRIBUTE.NAME: 'DEMORA_PERCURSO',
						ATTRIBUTE.CODE: RESULTADO.DEMORA_PERCURSO,
						ATTRIBUTE.DESCRIPTION: 'O percurso demorou demais. '
					},
				]
			},
			{
				
				ATTRIBUTE.NAME:  'Retira_A_Lenha',
				ATTRIBUTE.MACRO: ('Federal.@.Lenhador', 'colhe_madeira2'),
				ATTRIBUTE.DESCRIPTION:  'Tira os blocos de madeira ao alcance. ',
				ATTRIBUTE.PARAMETERS: [
					{
						ATTRIBUTE.NAME: 'hotslot_ferramenta',
						ATTRIBUTE.TYPE: TYPE.NUMBER,
						ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
						ATTRIBUTE.EVALUATION: EVALUATION.LITERAL,
						ATTRIBUTE.DESCRIPTION: 'O slot da hotbar onde a ferramenta (queira um machado) está. '
					}
				],
				ATTRIBUTE.OUTPUT_CODES: [
					{
						ATTRIBUTE.NAME: 'SUCESSO',
						ATTRIBUTE.CODE: RESULTADO.SUCESSO,
						ATTRIBUTE.DESCRIPTION: 'As madeiras ao alcance foram colhidas. '
					},
					{
						ATTRIBUTE.NAME: 'FERRAMENTA_GASTA',
						ATTRIBUTE.CODE: RESULTADO.FERRAMENTA_GASTA,
						ATTRIBUTE.DESCRIPTION: 'A ferramenta do slot indicado está gasta e não será utilizada. '
					},
					{
						ATTRIBUTE.NAME: 'ARVORE_NAO_ENCONTRADA',
						ATTRIBUTE.CODE: RESULTADO.ARVORE_NAO_ENCONTRADA,
						ATTRIBUTE.DESCRIPTION: 'A macro não encontrou nenhum bloco de madeira (log) ao redor do jogador. '
					},
					{
						ATTRIBUTE.NAME: 'BLOCO_MUITO_LONGE',
						ATTRIBUTE.CODE: RESULTADO.BLOCO_MUITO_LONGE,
						ATTRIBUTE.DESCRIPTION: 'Um dos blocos do tronco estava a mais de 4 blocos de distância do jogador. '
					},
					{
						ATTRIBUTE.NAME: 'DEMORA_EXTRAIR_BLOCO',
						ATTRIBUTE.CODE: RESULTADO.DEMORA_EXTRAIR_BLOCO,
						ATTRIBUTE.DESCRIPTION: 'Desisti de tirar madeira. Demorei demais a tirar um dos blocos. '
					},
				]
			},
			{
				
				ATTRIBUTE.NAME:  'Traça_Rota',
				ATTRIBUTE.MACRO: ('Federal.@.Lenhador', 'calcula_caminho'),
				ATTRIBUTE.DESCRIPTION:  'Obtém a lista ligada de coordenadas a serem percorridas. ',
				ATTRIBUTE.PARAMETERS: [
					{
						ATTRIBUTE.NAME: 'x',
						ATTRIBUTE.TYPE: TYPE.NUMBER,
						ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
						ATTRIBUTE.EVALUATION: EVALUATION.LITERAL,
						ATTRIBUTE.DESCRIPTION: 'O valor da coordenada X da árvore. '
					},
					{
						ATTRIBUTE.NAME: 'y',
						ATTRIBUTE.TYPE: TYPE.NUMBER,
						ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
						ATTRIBUTE.EVALUATION: EVALUATION.LITERAL,
						ATTRIBUTE.DESCRIPTION: 'O valor da coordenada Y da árvore. '
					},
					{
						ATTRIBUTE.NAME: 'z',
						ATTRIBUTE.TYPE: TYPE.NUMBER,
						ATTRIBUTE.CARDINALITY: CARDINALITY.SINGULAR,
						ATTRIBUTE.EVALUATION: EVALUATION.LITERAL,
						ATTRIBUTE.DESCRIPTION: 'O valor da coordenada Z da árvore. '
					},
					{
						ATTRIBUTE.NAME: 'outvar_array_caminho',
						ATTRIBUTE.TYPE: TYPE.TEXT,
						ATTRIBUTE.CARDINALITY: CARDINALITY.PLURAL,
						ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE,
						ATTRIBUTE.DESCRIPTION: 'A variável array que vai receber a lista de coordenadas. '
					},
				],
				ATTRIBUTE.OUTPUT_CODES: [
					{
						ATTRIBUTE.NAME: 'SUCESSO',
						ATTRIBUTE.CODE: RESULTADO.SUCESSO,
						ATTRIBUTE.DESCRIPTION: 'Uma lista de árvores foi obtida. '
					},
					{
						ATTRIBUTE.NAME: 'CAMINHO_NÃO_ENCONTRADO',
						ATTRIBUTE.CODE: RESULTADO.CAMINHO_NÃO_ENCONTRADO,
						ATTRIBUTE.DESCRIPTION: 'Não foi possível traçar uma rota até a árvore. '
					},
					{
						ATTRIBUTE.NAME: 'SEM_SUPORTE',
						ATTRIBUTE.CODE: RESULTADO.SEM_SUPORTE,
						ATTRIBUTE.DESCRIPTION: 'Não posso continuar porque não há suporte no chão na posição atual. '
					},
				]
			}
		],
		ATTRIBUTE.BLOCK: {
			ATTRIBUTE.VARIABLE: 'resultado',
			ATTRIBUTE.NAME: 'Reseta variáveis',
			ATTRIBUTE.DESCRIPTION: 'Reseta variáveis essenciais para a execução do ciclo',
			ATTRIBUTE.PROCEDURE: {
				ATTRIBUTE.NAME: 'Reseta_Variáveis',
				ATTRIBUTE.KEYWORD_ARGS: {
					'var_posicao_lista': {
						ATTRIBUTE.VALUE: 'cursor_array_arvores',
						ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
					},
				}
			},
			ATTRIBUTE.LOOP_WHILE: [ 'SEM_SUPORTE','REINICIAR_CICLO', 'CAMINHO_NÃO_ENCONTRADO', 'SUCESSO', 'DEMORA_PERCURSO', 'ARVORE_NAO_ENCONTRADA', 'BLOCO_MUITO_LONGE' ],
			ATTRIBUTE.PASS_CODES: [  'FERRAMENTA_GASTA', 'DEMORA_EXTRAIR_BLOCO', 'NÃO_EXISTE', 'CANCELADO', 'LIMITE_ALCANCADO', 'PROIBIDO'],
			ATTRIBUTE.CASES: [
				{
					ATTRIBUTE.OUTPUT_CODE: 'SUCESSO',
					ATTRIBUTE.BLOCK: {
						ATTRIBUTE.NAME: 'Procura Árvores',
						ATTRIBUTE.DESCRIPTION: 'O início do ciclo da macro',
						ATTRIBUTE.PROCEDURE: {
							ATTRIBUTE.NAME: 'Procura_Árvores',
							ATTRIBUTE.KEYWORD_ARGS: {
								'outvar_array_arvores': {
									ATTRIBUTE.VALUE: 'lista_coordenadas_arvores',
									ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
								},
							}
						},
						ATTRIBUTE.CASES: [
							{
								ATTRIBUTE.OUTPUT_CODE: 'SUCESSO',
								ATTRIBUTE.BLOCK: {
									ATTRIBUTE.NAME: 'Seleciona Árvore',
									ATTRIBUTE.DESCRIPTION: 'Seleciona sequencialmente uma árvore até não haver mais árvores',
									ATTRIBUTE.PROCEDURE: {
										ATTRIBUTE.NAME: 'Seleciona_Árvore',
										ATTRIBUTE.KEYWORD_ARGS: {
											'invar_array_arvores': {
												ATTRIBUTE.VALUE: 'lista_coordenadas_arvores',
												ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
											},
											'outvar_x': {
												ATTRIBUTE.VALUE: 'tronco_x',
												ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
											},
											'outvar_y': {
												ATTRIBUTE.VALUE: 'tronco_y',
												ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
											},
											'outvar_z': {
												ATTRIBUTE.VALUE: 'tronco_z',
												ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
											},
											'outvar_posicao_lista': {
												ATTRIBUTE.VALUE: 'cursor_array_arvores',
												ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
											},
										}
									},
									ATTRIBUTE.CASES: [
										{
											ATTRIBUTE.OUTPUT_CODE: 'SUCESSO',
											ATTRIBUTE.BLOCK: {
												ATTRIBUTE.NAME: 'Traça a rota até a árvore',
												ATTRIBUTE.PROCEDURE: {
													ATTRIBUTE.NAME: 'Traça_Rota',
													ATTRIBUTE.KEYWORD_ARGS: {
														'x': {
															ATTRIBUTE.VALUE: 'tronco_x',
															ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
														},
														'y': {
															ATTRIBUTE.VALUE: 'tronco_y',
															ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
														},
														'z': {
															ATTRIBUTE.VALUE: 'tronco_z',
															ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
														},
														'outvar_array_caminho': {
															ATTRIBUTE.VALUE: 'coordenadas_rota',
															ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
														},
													}
												},
												ATTRIBUTE.PASS_CODES: ['CAMINHO_NÃO_ENCONTRADO', 'SEM_SUPORTE'],
												ATTRIBUTE.CASES: [
													{
														ATTRIBUTE.OUTPUT_CODE: 'SUCESSO',
														ATTRIBUTE.BLOCK: {
															ATTRIBUTE.NAME: 'Vai até a árvore',
															ATTRIBUTE.DESCRIPTION: 'Segue a rota passada na lista como argumento. ',
															ATTRIBUTE.PROCEDURE: {
																ATTRIBUTE.NAME: 'Percorre_Caminho_Até_Árvore',
																ATTRIBUTE.KEYWORD_ARGS: {
																	'invar_array_caminho': {
																		ATTRIBUTE.VALUE: 'coordenadas_rota',
																		ATTRIBUTE.EVALUATION: EVALUATION.REFERENCE
																	},
																}
															},
															ATTRIBUTE.LOOP_WHILE: [],
															ATTRIBUTE.PASS_CODES: ['DEMORA_PERCURSO'],
															ATTRIBUTE.CASES: [
																{
																	ATTRIBUTE.OUTPUT_CODE: 'SUCESSO',
																	ATTRIBUTE.BLOCK: {
																		ATTRIBUTE.NAME: 'Coleta a madeira',
																		ATTRIBUTE.DESCRIPTION: 'Coleta a madeira à frente. ',
																		ATTRIBUTE.PROCEDURE: {
																			ATTRIBUTE.NAME: 'Retira_A_Lenha',
																			ATTRIBUTE.KEYWORD_ARGS: {
																				'hotslot_ferramenta': {
																					ATTRIBUTE.VALUE: 1,
																					ATTRIBUTE.EVALUATION: EVALUATION.LITERAL
																				}
																			}
																		},
																		ATTRIBUTE.LOOP_WHILE: [ ],
																		ATTRIBUTE.PASS_CODES: ['SUCESSO', 'FERRAMENTA_GASTA', 'ARVORE_NAO_ENCONTRADA', 'BLOCO_MUITO_LONGE', 'DEMORA_EXTRAIR_BLOCO'],
																		ATTRIBUTE.CASES: [
																			
																			
																		]
																	}
																}
															]
														}
													}
												]
											}
										},
										{
											ATTRIBUTE.OUTPUT_CODE: 'SEM_MAIS_ÁRVORES_PARA_PROCESSAR',
											ATTRIBUTE.BLOCK: {
												ATTRIBUTE.NAME: 'Mande reiniciar porque não há mais árvores para processar',
												ATTRIBUTE.PROCEDURE: {
													ATTRIBUTE.NAME: 'Reiniciar_Ciclo',
													ATTRIBUTE.KEYWORD_ARGS: {}
												},
												ATTRIBUTE.PASS_CODES: ['REINICIAR_CICLO'],
												ATTRIBUTE.CASES: []
											}
										}
									],
									ATTRIBUTE.LOOP_WHILE: [ 'SUCESSO', 'CAMINHO_NÃO_ENCONTRADO', 'DEMORA_EXTRAIR_BLOCO', 'BLOCO_MUITO_LONGE', 'ARVORE_NAO_ENCONTRADA', 'DEMORA_PERCURSO' ],
								}
							},
							{
								ATTRIBUTE.OUTPUT_CODE: 'SEM_ÁRVORES_AO_REDOR',
								ATTRIBUTE.BLOCK: {
									ATTRIBUTE.NAME: 'Exceção ao procurar árvores',
									ATTRIBUTE.DESCRIPTION: 'Não tem arvóres ao redor. ',
									ATTRIBUTE.PROCEDURE: {
										ATTRIBUTE.NAME: 'Notificar_Exceção',
										ATTRIBUTE.KEYWORD_ARGS: {
											'mensagem': {
												ATTRIBUTE.VALUE: 'Não há mais árvores ao redor. Me leve onde haja! ',
												ATTRIBUTE.EVALUATION: EVALUATION.LITERAL
											}
											
										}
									},
									ATTRIBUTE.PASS_CODES: ['REINICIAR_CICLO'],
								}
							},
							{
								ATTRIBUTE.OUTPUT_CODE: 'FERRAMENTA_GASTA',
								ATTRIBUTE.BLOCK: BLOCOS_TRATAMENTO.ferramenta_gasta
							},
							{
								ATTRIBUTE.OUTPUT_CODE: 'SEM_SUPORTE',
								ATTRIBUTE.BLOCK: {
									ATTRIBUTE.NAME: 'Exceção de ausência de suporte no chão',
									ATTRIBUTE.DESCRIPTION: 'Estamos sobre um bloco sobre o qual não posso andar. ',
									ATTRIBUTE.PROCEDURE: {
										ATTRIBUTE.NAME: 'Notificar_Exceção',
										ATTRIBUTE.KEYWORD_ARGS: {
											'mensagem': {
												ATTRIBUTE.VALUE: 'Não posso andar ou calcular caminho sobre este bloco. Resolva este problema. ',
												ATTRIBUTE.EVALUATION: EVALUATION.LITERAL
											}
											
										}
									},
									ATTRIBUTE.PASS_CODES: ['REINICIAR_CICLO'],
								}
							}
						],
					}
				}
			]
		}
	}
*}