{* set patterns = {
    'coordinate': '([-0-9]+)\.([-0-9]+)\.([-0-9]+)'
  }
*}

{*
	set reps = {
		'wood': {
			'tools': ['wooden_shovel',269,'wooden_pickaxe',270,'wooden_axe',271],
			'materials': ['log','17']
		},
		'stone': {
			'tools': ['stone_shovel',273,'stone_pickaxe',274,'stone_axe',275],
			'materials': ['stone',1]
		},
		'iron': {
			'tools': ['iron_shovel',256,'iron_pickaxe',257,'iron_axe',258],
			'materials': ['iron_block',42]
		},
		'diamond': {
			'tools': ['diamond_shovel',277,'diamond_pickaxe',278,'diamond_axe',279],
			'materials': ['diamond_block',57]
		}
	}
*}

{*
  set servicepack = {
    'CL': {
      'onchat': {
        'pname': 'cl_servicepack_onchat'
      },
      'spawn': {
        'coordinate': '24.8.-8'
      },
      'repair': {
        'blocks': ['57','diamond_block','42','iron_block']
      },
      'furnaceable': {
        'blocks': ['56','diamond_ore','15','iron_ore','14','gold_ore','129','emerald_ore','fish','17']
      }
    },
    'RL': {
      'onchat': {
        'pname': 'rl_servicepack_onchat'
      },
      'spawn': {
        'coordinate': '24.8.-8'
      },
      'repair': {
        'blocks': ['57','diamond_block','42','iron_block']
      },
      'furnaceable': {
        'blocks': ['56','diamond_ore','15','iron_ore','14','gold_ore','129','emerald_ore','fish','17']
      }
    },
    'RC': {
      'onchat': {
        'pname': 'cl_servicepack_onchat'
      },
      'spawn': {
        'coordinate': '-25.71.-297'
      },
      'repair': {
        'blocks': ['57','diamond_block','42','iron_block']
      },
      'furnaceable': {
        'blocks': ['56','diamond_ore','15','iron_ore','14','gold_ore','129','emerald_ore','fish', '17']
      }
    },
    'VICIANTE': {
      'onchat': {
        'pname': 'viciante_servicepack_onchat'
      },
      'spawn': {
        'coordinate': '0.74.0'
      },
      'repair': {
        'blocks': ['57','diamond_block','42','iron_block']
      },
      'furnaceable': {
        'blocks': ['56','diamond_ore','15','iron_ore','14','gold_ore','129','emerald_ore','fish','17']
      }
    },
    'DRAZYH': {
      'onchat': {
        'pname': 'drazyh_servicepack_onchat'
      },
      'spawn': {
        'coordinate': '0.70.7'
      },
      'repair': {
        'blocks': ['57','diamond_block','42','iron_block','emerald_block']
      },
      'furnaceable': {
        'blocks': ['56','diamond_ore','15','iron_ore','14','gold_ore','129','emerald_ore','fish','17']
      }
    }
  }
*}
